- label ||= "Contattaci"

= mail_to "cristiana@innocentimesseri.it",
  label,
  cc: "michela@innocentimesseri.it",
  subject: "Ho visto il vostro sito!",
  target: "_blank",
  class: "button--primary"
