section.section
  iframe width=content.video.width height=content.video.height src="https://www.youtube.com/embed/#{content.video.provider_uid}"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"
